{% include 'base.html' %}
{% include 'navigation.html' %}
{% block content %}

{% ifequal error "no" %}
<script>
	alert('logged in successfully');
	window.location = "{% url 'dashboard' %}";
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
	alert('invalid login try again');
</script>
{% endifequal %}


<div class="container">
	<h2 class="text-center">Admin Login</h2>
	<form method="POST">
		{% csrf_token %}
		<lable>Admin Name</lable>
		<input type="text" class="form-control" name="username" />
		<lable>Password</lable>
		<input type="password" class="form-control" name="password" />
		<input type="submit" value="Login" class="form-control btn btn-primary" />
    </form>
</div>

{% endblock content %}
{% include 'footer.html' %}

